<div class="form">
    <ul class="tab-group">
        <li class="tab" ng-class="{'active':isLogin}" ng-click="switchTab('0')">Log In</li>
        <li class="tab" ng-class="{'active':!isLogin}" ng-click="switchTab('1')">Sign Up</li>
    </ul>
    <div class="tab-content">
        <div id="login" ng-if="isLogin">
            <h1>Welcome Back!</h1>
            <form ng-submit="UserLogin(loginModel)">
                <div class="field-wrap">
                    <input type="email" ng-model="loginModel.email" required placeholder="Email" />
                </div>
                <div class="field-wrap">
                    <input type="password" ng-model="loginModel.password" required placeholder="Password" />
                </div>
                <p class="forgot"><a href="#">Forgot Password?</a></p>
                <button typw="submit" class="button button-block">Log In</button>
            </form>
        </div>

        <div id="signup" ng-if="!isLogin">
            <h1>Sign Up for Free</h1>
            <form ng-submit="UserSignUp(signupModel)">
                <div class="top-row">
                    <div class="field-wrap">
                        <input type="text" placeholder="First Name" ng-model="signupModel.firstname" required />
                    </div>
                    <div class="field-wrap">
                        <input type="text" required ng-model="signupModel.lastname" placeholder="Last Name" />
                    </div>
                </div>
                <div class="field-wrap">
                    <input type="email" required ng-model="signupModel.email" placeholder="Email" />
                </div>
                <div class="field-wrap">
                    <input type="password" required ng-model="signupModel.password" placeholder="Password" />
                </div>
                <button type="submit" class="button button-block">Get Started</button>
            </form>
        </div>
    </div>
</div>
