.autocomplete-options-container {
	position: relative;
}

.autocomplete-options-dropdown {
	position: absolute;
	top: -1px;
	left: 0px;
	border: 1px solid #ccc;
	border-top-color: #d9d9d9;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	cursor: default;
	z-index: 1001;
	background: white;
}

.autocomplete-options-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.autocomplete-option {
	padding: 4px 10px;
	line-height: 22px;
	overflow: hidden;
	width: 100% !important;
	font: normal normal normal 13.3333330154419px/normal Arial;
}

.autocomplete-option.selected {
	background-color: #eee;
}
.cutomtxt{
	
	border: 1px solid #e5e5e5 !important;
}
