  /*body {
      padding-top: 30px;
  }
  .the-box {
      padding: 20px !important;
  }
  .no-border-radious {
      border-radius: 0px !important;
  }
  .back-green {
      background: #00AF50 !important;
  }
  input {
      font-size: 14px !important;
      padding-right: 6px !important;
      padding-left: 6px !important;
  }

  .cursor-pointer{
        cursor: pointer !important;
  }

  .vertical-top {
      vertical-align: top !important;
  }
  .margin-top-10px {
      margin-top: 10px !important;
  }

  .margin-bottom-5px {
      margin-bottom: 5px !important;
  }
  .margin-top-minus-10px {
      margin-top: -10px !important;
  }
  .bold-black {
      color: black !important;
      font-weight: bold;
  }
  .common-color-black {
      color: black !important;
  }
  .padding-10 {
      padding-top: 50px !important;
  }
  .padding-top-10 {
      padding-top: 10px !important;
  }
  .display-inline {
      display: inline-block;
  }

  .logo-app{
    width: 18.3% !important;
  }

  .header-app{
    padding: 2.01vh !important;
    width: 70% !important;
  }
  .login-header .logo {
      max-width: 150px !important;
      border-radius: 50% !important;
      margin-top: 34px !important;
  }
  .login-header {
      background: #0078af !important;
  }
  .login-back {
      padding: 7% !important;
      background: rgba(128, 128, 128, 0.41) !important;
  }

  .padding-35{
        padding: 0px 0px 50px 0px!important;
  }
  .login-wrapper {
      box-shadow: 0px 0px 5px 0px #000 !important;
  }
  .login-title {
      margin: 0px;
      padding-top: 30px;
      color: #fff;
      text-shadow: 3px 5px #000;
      text-transform: uppercase;
  }
  .wrapper {
      padding: 0;
      margin: 0;
      background: none !important;
      height: 100%;
      position: relative;
  }
  .page-content {
      background: none !important;
  }
  .margin-left-all-minus {
      margin-left: -32%;
  }

  .reset-pwd {
      width: 100%;
      float: right;
      margin-left: 10px;
      text-align: right;
      color: black;
      cursor: pointer !important;
      font-weight: bold;
  }
  @-webkit-keyframes spin {
      0% {
          -webkit-transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  .logo-home img {
      width: 100% !important;
  }
  .side-default {
      position: relative !important;
      top: -18px !important;
      right: -250px;
      bottom: 0;
      width: 250px;
      background: white !important;
      color: #AAB2BD;
      z-index: 1;
  }
  .tutorial-card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 100%;
      background: antiquewhite;
      padding: 16px;
      margin-top: 7px;
  }
  .tutorial-card .right {
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .tutorial-card .right .checkbox-label {
      float: left;
      padding-top: 15px;
  }
  .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 40%;
  }
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .container {
      padding: 2px 16px;
  }
  .tutorial-img {
      width: 50%;
      height: 50%;
  }
  .tutorial-img-modal {
      position: relative !important;
  }
  .tutorial-img-modal-button {
      position: absolute !important;
      top: 0px !important;
      z-index: 99999 !important;
      right: 0px !important;
      background: #000 !important;
      opacity: 1 !important;
      color: white !important;
      width: 25px !important;
      height: 25px !important;
  }
  .tutorial-radio {
      float: left !important;
      width: 100% !important;
      text-align: left !important;
  }
  /*radio button*/
  /*
input[type="radio"] {
display: none;
}
input[type="radio"]+label {
color: $DarkBrown;
font-family: Arial, sans-serif;
font-size: 14px;
}
input[type="radio"]+label span {
display: inline-block;
width: 19px;
height: 19px;
margin: -1px 4px 0 0;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 50%;
border-radius: 50%;
}
input[type="radio"]+label span {
background-color: #F92600;
border: 1px black solid;
}
input[type="radio"]:checked+label span {
background-color: #81B859;
border: 1px black solid;
}
input[type="radio"]+label span, input[type="radio"]:checked+label span {
-webkit-transition: background-color 0.4s linear;
-o-transition: background-color 0.4s linear;
-moz-transition: background-color 0.4s linear;
transition: background-color 0.4s linear;
}*/
  /* Base for label styling */
  /*[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
position: absolute;
left: -9999px;
}
[type="checkbox"]:not(:checked)+label, [type="checkbox"]:checked+label {
position: relative;
padding-left: 25px;
cursor: pointer;
}

/* checkbox aspect */
  /*[type="checkbox"]:not(:checked)+label:before, [type="checkbox"]:checked+label:before {
content: '';
position: absolute;
left: 0;
top: 2px;
width: 17px;
height: 17px;
border: 1px solid #aaa;
background: #f8f8f8;
border-radius: 3px;
box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}*/
  /* checked mark aspect */
  /*[type="checkbox"]:not(:checked)+label:after, [type="checkbox"]:checked+label:after {
content: '✔';
position: absolute;
top: 3px;
left: 4px;
font-size: 18px;
line-height: 0.8;
color: #09ad7e;
transition: all .2s;
}*/
  /* checked mark aspect changes */
  /*[type="checkbox"]:not(:checked)+label:after {
opacity: 0;
transform: scale(0);
}
[type="checkbox"]:checked+label:after {
opacity: 1;
transform: scale(1);
}*/
  /* disabled checkbox */
  /*[type="checkbox"]:disabled:not(:checked)+label:before, [type="checkbox"]:disabled:checked+label:before {
box-shadow: none;
border-color: #bbb;
background-color: #ddd;
}
[type="checkbox"]:disabled:checked+label:after {
color: #999;
}
[type="checkbox"]:disabled+label {
color: #aaa;
}*/
  /* accessibility */
  /*[type="checkbox"]:checked:focus+label:before, [type="checkbox"]:not(:checked):focus+label:before {
border: 1px dotted blue;
}*/
  /*
@media only screen and (min-width: 320px) and (max-width:600px) {
.milan {
background: blue !important;
}
}
@media only screen and (min-width: 601px) and (max-width:900px) {
.milan {
background: red !important;
}
}
@media only screen and (min-width: 901px) and (max-width:10000px) {
.milan {
background: #000 !important;
}
}




/*milan*/
  /* AUTOCOMPLETE */

  .autocomplete {
      width: 100%;
      position: relative;
  }

  .autocomplete input {
      font-size: 1.2em;
      width: 100%;
      padding: 0.4em;
  }

  .autocomplete ul {
      position: absolute;
      left: 0;
      width: 100%;
      border-left: 1px solid #888;
      border-right: 1px solid #888;
      border-bottom: 1px solid #888;
      z-index: 1;
  }

  .autocomplete li {
      text-align: left;
      list-style: none;
      width: 100%;
      padding: 0.4em;
      background-color: #fff;
  }

  .autocomplete li.active {
      width: 100%;
      background-color: #4bf;
  }

  .autocomplete .highlight {
      background-color: #E2E2E2;
  }

  .autocomplete li.active .highlight {
      background: #666;
      color: #fff;
  }

  .dash-lbl {
      color: #808080 !important;
      text-align: center;
      font-size: 15px;
  }

  .txt-area {
      width: 100%;
  }

  .text-left {
      text-align: left;
  }
  /*hardik*/

  .tutorial .btn-radio1 {
      margin-top: 80px;
      padding-left: 30%;
  }

  .tutorial .btn-radio1 input {
      margin-bottom: 10px;
      margin-right: 10px;
  }

  .tutorial .btn-radio2 p {
      display: inline-block;
  }

  .tutorial .btn-radio2 input {
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .tutorial .area-box {
      padding-left: 0px;
  }

  .tutorial .area-box textarea {
      border: 1px solid #e5e5e5;
      width: 100%;
  }

  .tutorial .section {
      padding-left: 0px;
  }

  .tutorial .btn-section {
      padding-left: 5.5%;
      margin-top: 65px;
  }

  .tutorial .image {
      text-align: center;
  }

  .tutorial .step-title {
      text-align: left;
      margin-left: 31px;
      color: #000 !important;
      font-weight: bold;
      display: inline-block;
      border-bottom: 1px solid #808080;
  }
  /*.tutorial input[type="radio"] {
display: none;
}
.tutorial input[type="radio"]+label {
color: $DarkBrown;
font-family: Arial, sans-serif;
font-size: 14px;
}
.tutorial input[type="radio"]+label span {
display: inline-block;
width: 19px;
height: 19px;
margin: -1px 10px 0 0;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 50%;
border-radius: 50%;
}
.tutorial input[type="radio"]+label span {
background-color: #F92600;
border: 1px black solid;
}
.tutorial input[type="radio"]:checked+label span {
background-color: #81B859;
border: 1px black solid;
}
.tutorial input[type="radio"]+label span, input[type="radio"]:checked+label span {
-webkit-transition: background-color 0.4s linear;
-o-transition: background-color 0.4s linear;
-moz-transition: background-color 0.4s linear;
transition: background-color 0.4s linear;
}*/

  @media only screen and (max-width: 480px) {}

  @media only screen and (max-width: 768px) {
      .tutorial .btn-section {
          margin-top: 0px;
          text-align: center;
      }
      .tutorial .area-box {
          padding-left: 0px !important;
          padding-right: 0px !important;
      }
      .tutorial .area-box textarea {
          width: 100%;
      }
      .tutorial p.tutorial-radio {
          display: inline-block;
          margin-right: 10px;
      }
      .tutorial p.tutorial-radio:hover {}
  }

  .tutorial-radio:hover {
      cursor: pointer;
  }

  i.redradio {
      /*color: red;*/
      font-size: 11px;
      border: 1px solid #808080;
      padding: 1px 1px 1px 1.5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      color: #fff;
  }

  i.greenradio {
      /*color: green;*/
      font-size: 11px;
      border: 1px solid #808080;
      padding: 1px 1px 1px 1.5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
  }

  .autocomplete-input {
      padding: 23px 5px !important;
      border-radius: 4px !important;
  }

  input[type=checkbox] {
      /* Double-sized Checkboxes */
      -ms-transform: scale(1.5);
      /* IE */
      -moz-transform: scale(1.5);
      /* FF */
      -webkit-transform: scale(1.5);
      /* Safari and Chrome */
      -o-transform: scale(1.5);
      /* Opera */
      padding: 10px;
  }

  input[type=radio] {
      /* Double-sized Checkboxes */
      -ms-transform: scale(1.5);
      /* IE */
      -moz-transform: scale(1.5);
      /* FF */
      -webkit-transform: scale(1.5);
      /* Safari and Chrome */
      -o-transform: scale(1.5);
      /* Opera */
      padding: 10px;
  }

  .dash-blog {
      width: 220px;
      display: inline-block;
      min-height: 100px;
      border: 1px solid #808080;
      vertical-align: top;
      text-align: center;
  }

  .hdr {
      min-height: 90px;
      background: #e5e5e5;
      font-size: 17px;
      padding: 5px;
  }

  .count-txt {
      min-height: 100px;
      background: #e5e5e5;
      text-align: center;
      padding-top: 23px;
      font-size: 40px;
  }

  .dash-out .media-lib-item {
      min-height: 205px !important;
  }

  .demo2 .regular-checkbox {
      background-color: #cc9e5d;
  }

  .demo2 label {
      display: inline;
  }

  .demo2 .regular-checkbox {
      display: none;
  }

  .demo2 .regular-checkbox+label {
      background-color: white;
      border: 2px solid black;
      padding: 3px;
      display: inline-block;
      position: relative;
      box-shadow: inset 1px 3px 5px #888888;
  }

  .demo2 .regular-checkbox+label:active,
  .regular-checkbox:checked+label:active {}

  .demo2 .regular-checkbox:checked+label {
      background-color: white;
      border: 3px solid black;
      color: black;
      box-shadow: inset 1px 3px 5px #888888;
  }

  .demo2 .regular-checkbox:checked+label:after {
      content: '✔';
      font-size: 10px;
      position: absolute;
      top: 0px;
      left: 3px;
      color: black;
  }

  .demo2 .big-checkbox+label {
      padding: 10px;
  }

  .demo2 .big-checkbox:checked+label:after {
      font-size: 30px;
      left: 1px;
      top: -13px;
  }
  /*responsive tutorial row==============================================*/

  .float-left {
      float: left;
  }

  .custom-container {
      padding: 50px 0px;
      width: 85%;
      margin: 0 auto;
  }

  .custom-section {
      width: 100%;
      display: inline-block;
  }

  .custom-image {
      margin-top: 10px;
      width: 30%;
      display: inline-block;
      float: left;
      text-align: center;
  }

  .custom-avatar {
      width: 100%;
      height: auto;
      display: inline-block;
      text-align: center;
  }

  .custom_radio {
      width: 40%;
      display: inline-block;
      float: left;
      /*text-align:center; */
      margin-top: 75px;
  }

  .custom_radio1 {
      width: 100%;
      height: auto;
  }

  .custom-position {
      position: absolute;
      left: 50%;
      margin-top: 0px;
  }

  .custom_text-box {
      width: 30%;
      height: auto;
      display: inline-block;
      float: left;
  }

  .custom_text-area {
      width: 100%;
      height: auto;
      text-align: center;
      display: inline-block;
  }

  .custom_text-area textarea {
      margin-top: 10%;
      border: 1px solid #e5e5e5;
      width: 100%;
      height: auto;
  }

  .custom_text-area p {
      font-size: 10px;
      text-align: right;
      ;
  }

  @media screen and (max-width: 600px) {
      .custom-image {
          margin-top: 5px;
          float: none !important;
          width: 100%;
          text-align: center;
      }
      .custom_radio {
          width: 100% !important;
          float: none;
          text-align: center;
          margin-top: 60px;
      }
      .custom_text-box {
          width: 100% !important;
          height: auto;
          float: none;
      }
      .first-radio {
          display: inline-block;
          width: 60px;
          text-align: center;
      }
      .custom-position {
          margin-top: -8%;
          position: static;
      }
      .custom_text-area textarea {
          margin-top: 10px;
      }
  }
  /*end responsive tutorial raw*/

  */
  /*My Demo Style*/

  *,
  *:before,
  *:after {
      box-sizing: border-box;
  }

  html {
      overflow-y: scroll;
  }

  body {
      background: #c1bdba;
      font-family: 'Titillium Web', sans-serif;
  }

  a {
      text-decoration: none;
      color: #1ab188;
      -webkit-transition: .5s ease;
      transition: .5s ease;
  }

  a:hover {
      color: #179b77;
  }

  .form {
      background: rgba(19, 35, 47, 0.9);
      padding: 40px;
      max-width: 600px;
      margin: 40px auto;
      border-radius: 4px;
      box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }

  .tab-group {
      list-style: none;
      padding: 0;
      margin: 0 0 40px 0;
  }

  .tab-group:after {
      content: "";
      display: table;
      clear: both;
  }

  .tab-group li {
      display: block;
      text-decoration: none;
      padding: 15px;
      background: rgba(160, 179, 176, 0.25);
      color: #a0b3b0;
      font-size: 20px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      -webkit-transition: .5s ease;
      transition: .5s ease;
  }

  .tab-group li a:hover {
      background: #179b77;
      color: #ffffff;
  }

  .tab-group .active {
      background: #1ab188;
      color: #ffffff;
  }

  h1 {
      text-align: center;
      color: #ffffff;
      font-weight: 300;
      margin: 0 0 40px;
  }

  label {
      position: absolute;
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
      left: 13px;
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      -webkit-backface-visibility: hidden;
      pointer-events: none;
      font-size: 22px;
  }

  label .req {
      margin: 2px;
      color: #1ab188;
  }

  label.active {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      left: 2px;
      font-size: 14px;
  }

  label.active .req {
      opacity: 0;
  }

  label.highlight {
      color: #ffffff;
  }

  input,
  textarea {
      font-size: 22px;
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      background: none;
      background-image: none;
      border: 1px solid #a0b3b0;
      border-radius: 0;
      -webkit-transition: border-color .25s ease, box-shadow .25s ease;
      transition: border-color .25s ease, box-shadow .25s ease;
  }

  input:focus,
  textarea:focus {
      outline: 0;
      border-color: #1ab188;
  }

  textarea {
      border: 2px solid #a0b3b0;
      resize: vertical;
  }

  .field-wrap {
      position: relative;
      margin-bottom: 40px;
  }

  .top-row:after {
      content: "";
      display: table;
      clear: both;
  }

  .top-row>div {
      float: left;
      width: 48%;
      margin-right: 4%;
  }

  .top-row>div:last-child {
      margin: 0;
  }

  .button {
      border: 0;
      outline: none;
      border-radius: 0;
      padding: 15px 0;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .1em;
      background: #1ab188;
      color: #ffffff;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-appearance: none;
  }

  .button:hover,
  .button:focus {
      background: #179b77;
  }

  .button-block {
      display: block;
      width: 100%;
  }

  .forgot {
      margin-top: -20px;
      text-align: right;
  }

  .loader {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      top: 0px;
      left: 0px;
      z-index: 9999;
  }

  .loader-in {
      /*border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid blue;
border-bottom: 16px solid blue;
border-left: 16px solid red;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
border-right: 16px solid red;
position: absolute;
top: 50%;
left: 50%;
z-index: 9999;
display: none;*/
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid blue;
      border-bottom: 16px solid blue;
      border-left: 16px solid red;
      width: 80px;
      height: 80px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      border-right: 16px solid red;
      position: fixed;
      top: 43%;
      left: 50%;
      z-index: 9999;
  }

  .loader-inner {
      text-align: center;
      color: #fff;
      top: 42%;
      position: relative;
      z-index: 9999;
  }

  serif {
      font-weight: 100;
      font-size: 12px;
      line-height: 30px;
      color: #777;
      background: #4CAF50;
  }

  .danger {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #e9726a;
      color: #FFF;
      margin: 0 0 5px;
      padding: 7px;
      font-size: 15px;
  }

  .container {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      position: relative;
  }

  .w-100p {
      width: 500px !important;
      margin: 0 auto !important;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
      font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }

  #contact {
      background: #F9F9F9;
      padding: 25px;
      margin: 20px 0;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      position: relative;
  }

  #contact h3 {
      display: block;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 10px;
  }

  #contact h4 {
      margin: 5px 0 15px;
      display: block;
      font-size: 13px;
      font-weight: 400;
  }

  fieldset {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
  }

  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
  }

  #contact textarea {
      height: 100px;
      max-width: 100%;
      resize: none;
  }

  #contact button[type="submit"] {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #4CAF50;
      color: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      font-size: 15px;
  }

  #contact button[type="submit"]:hover {
      background: #43A047;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
  }

  .back img {
      width: 30px;
  }

  .back {
      position: absolute;
      top: 20px;
      cursor: pointer;
      left: 20px;
  }

  .red {
      background: #e9726a !important;
      color: #FFF !important;
  }

  .card-outer {
      display: inline-block !important;
      cursor: pointer !important;
      margin: 5px !important;
  }